.add_video_form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    left: 30%;
    top: 100px;
    height: auto;
}
.item {
    margin: 5px;
}
.title {
    height: 40px;
}