.main_page {
    position: relative;
    display: flex;
    border-style: solid;
    border-color: black;
    margin: 5px;
}
.all_videos {
    border-style: solid;
    margin: 5px;
    border-color: black;
    height: auto;
    width: 90%;
}
.preview {
    height: 200px;
    width: 350px;
    border-style: solid;
    margin: 5px;
    border-color: black;
}
.item {
    border-style: solid;
    margin: 5px;
    display: flex;
    flex-direction: row;
}
