.player {
    position: relative;
    margin: 10px;
    border-style: solid;
    padding: 5px;
    width: fit-content;
}
.data-about-video {
    margin: 10px;
    padding: 5px;
    border-style: solid;
    position: relative;
    width: 85%;
}