.my_videos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    margin: 5px;
    width: 90%;
    height: auto;

}
.video {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 150px;
}
.button_add {
    margin: 5px;
    padding: 5px;
}